apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Task patches - using JSON Patch to override specific parameter defaults
  - target:
      kind: Task
      name: execute-ai-analysis
    path: task-patch.yaml

