apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Pipeline
      name: sast-ai-workflow-pipeline
    path: pipeline-patch.yaml
  - target:
      kind: Task
      name: execute-ai-analysis
    path: task-patch.yaml
