- op: replace
  path: /spec/steps/4
  value:
    name: fetch-false-positives
    image: $(params.BASE_IMAGE)
    volumeMounts:
      - name: shared-data
        mountPath: /shared-data
    env:
      - name: PROJECT_NAME
        value: "$(params.PROJECT_NAME)"
      - name: DVC_REPO_URL
        value: "$(params.DVC_REPO_URL)"
      - name: DVC_DATA_VERSION
        value: "$(params.DVC_DATA_VERSION)"
      - name: S3_ENDPOINT_URL
        value: "$(params.S3_ENDPOINT_URL)"
      - name: S3_INPUT_BUCKET_NAME
        value: "$(params.S3_INPUT_BUCKET_NAME)"
      - name: USE_KNOWN_FALSE_POSITIVE_FILE
        value: "$(params.USE_KNOWN_FALSE_POSITIVE_FILE)"
      - name: FALSE_POSITIVES_URL
        value: "$(params.FALSE_POSITIVES_URL)"
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: sast-ai-s3-input-creds
            key: aws_access_key_id
            optional: true
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: sast-ai-s3-input-creds
            key: aws_secret_access_key
            optional: true
    command: ["/scripts/fetch_false_positives_mlops.sh"]