- op: add
  path: /spec/params/-
  value:
    name: DVC_REPO_URL
    type: string
    description: "DVC Git repository URL for data versioning"
    default: "https://github.com/RHEcosystemAppEng/sast-ai-dvc"
- op: add
  path: /spec/params/-
  value:
    name: DVC_DATA_VERSION
    type: string
    description: "DVC data version tag (e.g., v1.0)"
    default: "v1.0"
- op: add
  path: /spec/params/-
  value:
    name: S3_ENDPOINT_URL
    type: string
    description: "MinIO/S3 endpoint URL for DVC remote storage"
    default: "http://minio-api-minio.apps.appeng.clusters.se-apps.redhat.com"
- op: add
  path: /spec/params/-
  value:
    name: S3_INPUT_BUCKET_NAME
    type: string
    description: "S3/MinIO bucket name for input data"
    default: "test"
- op: add
  path: /spec/params/-
  value:
    name: S3_OUTPUT_BUCKET_NAME
    type: string
    description: "S3/Minio bucket name for uploading analysis results"
    default: ""
- op: add
  path: /spec/params/-
  value:
    name: PIPELINE_RUN_ID
    type: string
    description: "Unique PipelineRun ID for S3 object key"
    default: ""