- op: replace
  path: /spec/steps/3
  value:
    name: transform-report
    image: $(params.BASE_IMAGE)
    volumeMounts:
      - name: shared-data
        mountPath: /shared-data
    env:
      - name: INPUT_REPORT_FILE_PATH
        value: "$(params.INPUT_REPORT_FILE_PATH)"
      - name: DVC_REPO_URL
        value: "$(params.DVC_REPO_URL)"
      - name: DVC_DATA_VERSION
        value: "$(params.DVC_DATA_VERSION)"
      - name: S3_ENDPOINT_URL
        value: "$(params.S3_ENDPOINT_URL)"
      - name: S3_INPUT_BUCKET_NAME
        value: "$(params.S3_INPUT_BUCKET_NAME)"
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: sast-ai-s3-input-creds
            key: aws_access_key_id
            optional: true
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: sast-ai-s3-input-creds
            key: aws_secret_access_key
            optional: true
      - name: TEKTON_RESULTS_DIR
        value: "$(results.report-file-path.path)"
    command: ["/scripts/transform_report_mlops.sh"]