name: "Unit Tests"

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'requirements.txt'
      - 'dev-requirements.txt'
      - '.github/workflows/test.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'src/**'
      - 'tests/**'
      - 'requirements.txt'
      - 'dev-requirements.txt'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Ensure lsb_release is available
      run: |
        sudo apt-get update \
        && sudo apt-get install -y lsb-release \
        && sudo apt-get clean all

    - name: Set up Python "3.12.0"
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.0"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi

    - name: Run tests with coverage
      run: |
        cd tests && coverage run --source=../src ../tests/run_tests.py --verbose
        coverage report --show-missing
        coverage xml

    - name: Upload coverage reports
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: tests/coverage.xml
        retention-days: 30
